---
---

// Brand
$brand-bee-yellow: #FFC65C; // Golden Tainoi
$brand-black: #020000; // Diesel
$brand-yellow: #FDF85C; // Candy Corn
$brand-orange: #F77D2C; // Crusta
$brand-red: #BC1F2B; // Cardinal
$brand-purple: #CF28EE; // Electric Violet
$brand-blue: #0B60B9; // Denim
$brand-green: #39BE37; // Apple
$brand-gray-light: #BCBCBC; // Silver
$brand-gray-medium: #89898A; // Jumbo
$brand-gray-dark: #333333; // Mine Shaft
$brand-primary: $brand-bee-yellow;
$brand-secondary: $brand-orange;

// Headers
$header-heading-color: $brand-black;
$header-bg-color: $brand-bee-yellow;
$header-bg-color-secondary: $brand-yellow;

// Text
$section-headings-color: $brand-orange;
$body-text-color: $brand-gray-medium;
$body-link-color: $brand-blue;
$blockquote-text-color: $brand-gray-medium;

@import "{{ site.theme }}";

